* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20px;
    padding: 2px 4px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    font-size: 20px;
}

#colorContainer {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}